spring:
  application:
    name: lwyr-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/lwyr_db
    username: lwyr_user
    password: lwyr_password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8080

logging:
  level:
    org.springframework.security: INFO
    com.lwyr: DEBUG
